<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-in</title>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
</head>
<body>
<form action="./login" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit">
</form>
<!--<script>-->
    <!--$(function() {-->
    <!--//  обработчик на кнопку логин-->
    <!--$('form').on('submit', (e) => {-->
        <!--e.preventDefault();-->
        <!--const usernameValue = $('form input[name="username"]').val();-->
        <!--const passwordValue = $('form input[name="password"]').val();-->
        <!--const authData = JSON.stringify( { username : usernameValue, password : passwordValue} );-->
        <!--$.ajax({-->
            <!--type : 'post',-->
            <!--url : 'http://localhost:8888/login',-->
            <!--contentType : 'application/json',-->
            <!--dataType : 'json',-->
            <!--data : authData,-->
            <!--success : (response) => {-->
                <!--console.log('ответ от сервера', response);-->
                <!--location.reload(true)-->
            <!--},-->
            <!--error : (err) => {-->
                <!--console.log('err', err.message);-->
            <!--}-->
        <!--});-->

    <!--})-->
    <!--})-->
<!--</script>-->
</body>
</html>